<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

  <form action="/admin/login" method="post" class="login-container">
    <p><input type="text" id="inputUser" placeholder="Email" name="email"></p>
    <p><input type="password" id="inputPassword" placeholder="Contraseña" name="password"></p>
    <p><input type="submit" value="Ingresar"></p>
  </form>
  {{#if error}}
    <p>Usuario y/o Contraseña incorrectos</p>
  {{/if}}
 </div>