.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
}

.formulario p input,
.formulario p textarea {
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px 10px;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea {
    resize: none;
    height: 150px;
}

.formulario input [type='submit'] {
    background: #2e7d32;
    box-shadow: 0 0 10px rgb(0,0,0,0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 80px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.formulario input [type='submit']:hover {
    background-color: #1b5e20;
}
.button{
    text-align: center;
}

   