.categorias {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.categoria {
  text-decoration: none;
  color: inherit;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: #fafafa;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  border-radius: 8px;
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h5 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2e7d32;
  margin: 0;
}


.mascotas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.mascota {
  width: 250px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
}

.mascota img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.mascota h5 {
  margin: 10px 0 5px;
  font-size: 1.2rem;
  color: #333;
}

.mascota h6 {
  font-size: 1rem;
  margin: 0 0 10px 0;
  color: #555;
}

.mascota p {
  font-size: 0.9rem;
  color: #555;
}

.btn-adoptar {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn-adoptar:hover {
  background: #0056b3;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mascota {
  text-align: center;
  width: 300px;
}

.mascota img {
  width: 100%;
  border-radius: 10px;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.volver {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px;
}

.btn-volver {
  padding: 10px 15px;
  background: #11922d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-volver:hover {
  background: #5a6268;
}
