nav {
  background-color: #43a047;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover,
nav li a.activo {
  background-color: #1b5e20;
}
