nav {
    background-color:#1b5e20;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;   
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li a.activo {
    background-color: #1b5e20;
}